@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    width: 100%;
    min-height: 60px;
    height: auto;

    .navbar__title{
        font-family: 'Roboto', sans-serif;
        color: #d3d3d3;
    }
}