.podiumm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .podium__image{
        width: 50px;
        border-radius: 5px;
        background-color: black;
    }
}